// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style for each comment */
.comment-item {
  background-color: #EDEDED;
  padding: 1%;
  border-radius: 10px;
  margin-bottom: 10px;
  img {
    border-radius: 50px;
    height: 60px;
  }
  p {
    margin-left: 100px;
  }
}

@media screen and (max-width:450px) {
  .comment-item {
    img {
      height: 40px;
    }
  }
}
