// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* all sections */
section {
  padding: 1% 5%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
    div {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
/* whole log page */
#log-page {
  padding: 0 0 5% 0;
}

/* main content */
.main-content {
  width: 85%;
  border-right: 1px solid rgba(1,1,1,.1);
}

/* side content */
.side-content {
  width: 15%;
}
/* log show page header */
.log-header {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    width: 100%;
  }
  .log-media {
    position: absolute;
    width: 42%;
    top: 550px;
    left: 10%;
  }
}

/* section main */
.main {
  h1 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  div {
    float: left;
  }
  div:nth-child(1) {
    width: 70%;
  }
  div:nth-child(2) {
    text-align: center;
    width: 30%;
    img {
      border-radius: 50px;
      height: 100px;
    }
  }
}

/* section icons */
.icons {
  padding-top: 0 10% 0 10%;
  aside {
    width: 33%;
    float: left;
    text-align: center;
  }
  .log-data {
    background: no-repeat center top;
    background-size: 50px 50px;
    i {
      color: white;
      border: 1px solid #F7AD3E;
      padding: 15px;
      border-radius: 50px;
      background-color: #F7AD3E;
    }
    h3 {
      margin: 0;
      font-size: 1.1em;
    }
  }
  div {
  }
}

/* log content */
.log-content {
  div {
    border-bottom: 1px solid rgba(1,1,1,.2);
    border-top: 1px solid rgba(1,1,1,.2);
  }
}

/* log index page */
.log-index {
  padding: 0 2% 5% 2%;
  h1 {
    padding: 0 2%;
    text-transform: uppercase;
  }
  aside {
    position: relative;
    width: 33.3%;
    height: 400px;
    float: left;
    text-align: center;
    padding: 10px;
    img {
      width: 90%;
      height: 65%;
      text-align: center;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.log-desc {
  text-align: left;
  padding-left: 5%;
  p {
    margin: 0;
    padding: 0;
  }
}
