// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* all sections */
section {
  padding: 0 5% 0 5%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
    div {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
/* whole log page */
#log-page {
  padding: 0 0 5% 0;
}

/* main content */
.main-content {
  width: 85%;
  border-right: 1px solid rgba(1,1,1,.1);
}

/* side content */
.side-content {
  width: 15%;
}
/* log show page header */
.log-header {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    width: 100%;
  }
  .log-media {
    position: absolute;
    width: 42%;
    top: 550px;
    left: 10%;
  }
}

/* section main */
.main {
  h1 {
    margin: 0;
    font-size: 3.3em;
  }
  h3 {
    margin: 0;
    font-size: 1.8em;
  }
  div {
    float: left;
  }
  div:nth-child(1) {
    width: 70%;
  }
  div:nth-child(2) {
    text-align: center;
    width: 30%;
    img {
      border-radius: 50px;
      height: 100px;
    }
  }
}

/* section icons */
.icons {
  padding: 1%;
  aside {
    width: 33%;
    float: left;
    text-align: center;
  }
  .log-data {
    background: no-repeat center top;
    background-size: 50px 50px;
    i {
      color: white;
      border: 1px solid #F7AD3E;
      padding: 15px;
      border-radius: 50px;
      background-color: #F7AD3E;
    }
    h3 {
      margin: 0;
      font-size: 1.1em;
      font-family: 'Rubik', sans-serif;
      font-weight: 100;
    }
  }
  div {
  }
}

/* log content */
.log-content {
  div {
    border-bottom: 1px solid rgba(1,1,1,.2);
    border-top: 1px solid rgba(1,1,1,.2);
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-family: 'Rubik', sans-serif;
  }
}

/* log comments section */
.log-comments {
  h4 {
    font-size: 1.5em;
  }
}

/* log media controls */

/* log index page */
.log-index {
  padding: 0 2% 7% 2%;
  background-color: #E2E2E2;
  h1 {
    padding: 1% 2%;
    margin: 0;
    text-transform: uppercase;
    font-size: 3em;
  }
  aside {
    position: relative;
    background-color: white;
    width: 31.3%;
    height: 350px;
    float: left;
    text-align: center;
    margin: 1%;
    img {
      width: 100%;
      height: 73%;
      text-align: center;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .glyphicon {
    transition: .5s;
    &:hover {
      color: #b52121;
    }
  }
}

.log-desc {
  text-align: left;
  padding: 0 0 2% 2%;
  span {
    font-size: 1.1em;
    font-family: 'Rubik', sans-serif;
  }
  p {
    margin: 0;
    padding: 0;
    color: #6d6767;
    font-weight: 200;
  }
  small {
    color: #6d6767;
  }
}

/* new log page */
.new-log-page {
  padding-bottom: 8%;
}
