<% if user_signed_in? %>
  <div class="heart-icon">
    <% if vote = current_user.like_for(log) %>
      <%= link_to [log, vote], method: :delete do %>
        <i class="heart-glyph glyphicon glyphicon-heart"> </i>
    <% end %>
    <% else %>
      <%= link_to [log, Vote.new], method: :post do %>
        <i class="heart-glyph glyphicon glyphicon-heart-empty"> </i>
      <% end %>
   <% end %>
  </div>
<% end %>
