<div class="upgrade-page">
  <section>
    <h1>Travelog Premium</h1>
    <h2>Enjoy unlimited sharing</h2>
    <h3>Get Premium</h3>
    <%= form_tag charges_path do %>
      <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
    <% end %>
    <p>$4.99/month</p>
  </section>
</div>
